/* hero */
.hero-section{
  background-color: #091018;
  background-image: url('/img/hero/hero-mob.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.hero-title{
font-weight: 275;
font-size: 48px;
line-height: 100%;
letter-spacing: -0.02em;
text-align: center;
color: #f5f5f5;
margin-top: 20px;
}
.hero-text{
font-weight: 275;
font-size: 16px;
line-height: 125%;
letter-spacing: -0.04em;
text-align: center;
color: #f5f5f5;
margin-top: 8px;
}
.hero-big-text{
font-weight: 275;
font-size: 16px;
line-height: 125%;
letter-spacing: -0.04em;
text-align: center;
margin-left: auto;
margin-right: auto;
color: #f5f5f5;
margin-top: 420px;
}
@media only screen and (min-width:1439px) {
  .hero-section{
    background-image: url('/img/hero/hero-desk.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }
  .hero-title{
    font-size: 64px;
    margin-top: 40px;
   
    }
    .hero-text{
      font-size: 20px;
      letter-spacing: -0.02em;

      }
      .hero-big-text{
        font-size: 18px;
        letter-spacing: -0.02em;
        margin-top: 457px;
        width: 1000px;
        }
}
/* The Luck Victory Philosophy */
.victory-section{
  background-color: #091018;
}
.victory-subtitle{
font-weight: 250;
font-size: 44px;
line-height: 100%;
letter-spacing: -0.04em;
color: #969bad;
}
.vector-container{
display: flex;
gap: 16px;
margin-top: 32px;
}
.vector-img{
  width: 62px;
  height: 56px;

}
.victory-text{
font-weight: 275;
font-size: 18px;
line-height: 130%;
letter-spacing: -0.02em;
color: #f5f5f5;
}
.businessman-img{
  margin-top: 16px;
}
.victory-list{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.victory-name{
font-weight: 275;
font-size: 32px;
line-height: 119%;
color: #f5f5f5;
max-width: 299px;
margin-left: 6px;
}
.victory-item{
  display: flex;
  flex-wrap: wrap;

}
.text-item{
font-weight: 275;
font-size: 18px;
line-height: 133%;
color: #969bad;
margin-left: 30px;
}
.workshops-dot{
  width: 24px;
  height: 24px;
  box-sizing: content-box;
}
@media only screen and (min-width:1439px) {
  .victory-subtitle{
    font-size: 58px;
    }
    .vector-container{
      display: flex;
      gap: 16px;
      margin-top: -50px;
      margin-left: 860px;
      }
      .vector-img{
        width: 62px;
        height: 56px;

      }
      .victory-text{
width: 306px;
        }
        .businessman-img{
          margin-top: 16px;
          margin-left: 860px;
          width: 400px;
          height: 400px;
        }
        .victory-name{
          max-width: 719px;
          margin-left: 16px;
          }
          .victory-list{
            display: flex;
            flex-direction: column;
            gap: 55px;
            margin-top: -330px;
          }
          .text-item{
           width: 1300px;
           margin-top: 8px;
           margin-left: 40px;
            }
          }
/* Core Training Programs */
.core-section{
    background-color: #f5f5f5;
    background-image: url('/img/core/line-mob.png');
      background-repeat: no-repeat;
      background-position: top 140px right;
      background-size: 345px 24px;
}
.core-title{
  font-family: "Prompt", sans-serif;
    font-weight: 300;
    font-size: 44px;
     line-height: 1;
    letter-spacing: -0.04em;
    color: #969bad;
    margin-bottom: 64px;
}
.core-list{
  border-radius: 24px;
    padding: 16px 16px;
    max-width: 343px;
    height: auto;
    background: #091018;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;

}

.core-img{
  margin-bottom: 16px;

}
.list-core-container{
  border-radius: 12px;
    padding: 16px;
    max-width: 300px;
    height: auto;
    background: #f5f5f5;
    box-sizing: border-box;
}
.core-title-list{
font-family: "Prompt", sans-serif;
  font-weight: 300;
  font-size: 32px;
  line-height: 1.125;
  letter-spacing: -0.02em;
  color: #091018;
  width: 260px;
  margin-bottom: 10px;

}
.core-text-list{
font-family: "Prompt", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.2;
  color: rgba(9, 16, 24, 0.6);
  width: 280px;
}
@media only screen and (min-width:1439px) {
  .core-section {
      background-color: #f5f5f5;
      background-image: url('/img/core/line-desc.png');
      background-repeat: no-repeat;
      background-position: top 90px right;
      background-size: 613px 24px;
    }
    .core-title {
      font-size: 58px;
       margin-bottom: 48px;
    }
 .core-list {
  border-radius: 32px;
  padding: 80px 30px;
  max-width: 1280px;
  height: 960px;
  gap: 40px;
  align-items: start;

  }
  .core-items{
    display: flex;
    height: 170px;
    gap: 40px;
    align-items: center;
  max-width: 1100px;

  }
  .core-img-even{
    order: 2;
  }
  .core-img{
    margin-bottom: 0px;
  }
  .list-core-container{
    border-radius: 16px;
    padding: 32px;
    height: 152px;
    min-width: 787px;

   box-sizing: border-box;

  }
  .core-title-list{
    color: #091018;
    width: 723px;
    margin-bottom: 10px;
  }
  .core-text-list{
    width: 723px;
  }
}
/*The Success Toolbox  */
.toolbox-section{
  background-color: #091018;
}
.toolbox-title{
  font-family: "Prompt", sans-serif;
font-weight: 250;
font-size: 44px;
line-height: 1;
letter-spacing: -0.04em;
color: #969bad;
margin-bottom: 142px;
}
.toolbox-container{
 position: relative;
}
.toolbox-text-container{
  border-radius: 8px 0 0 8px;
padding: 12px 24px 12px 12px;
max-width: 350px;
height: auto;
background: #f5f5f5;
box-sizing: border-box;
position: absolute;
top:150px;
right:0px;
}
.toolbox-text{
  font-family: "Prompt", sans-serif;
font-weight: 300;
font-size: 16px;
line-height: 1.375;
letter-spacing: 0.01em;
color: #091018;
width: 231px;
}
.toolbox-list{
  margin-top: 24px;
  align-items: start;
  width: 333px;
height: auto;
}
.toolbox-epigraph{
  font-family: "Prompt", sans-serif;
font-weight: 300;
font-size: 24px;
letter-spacing: -0.02em;
color: #f5f5f5;
text-align: start;
margin-bottom: 8px;
margin-left: 0;
}
.toolbox-epigraph-text{
  font-family: "Prompt", sans-serif;
font-weight: 275;
font-size: 18px;
color: #969bad;
text-align: start;
margin-left: 0;
margin-bottom: 24px;
}
.toolbox-epigraph-text:last-child{
  margin-bottom: 0;
}
@media only screen and (min-width:1439px) {
  .toolbox-title{
  font-weight: 250;
  margin-bottom: 48px;
  }
  .toolbox-text-container{
    padding: 16px 80px 16px 16px;
 min-width:648px;
  height: auto;
  position: absolute;
  top:174px;
  left:776px;
  }
  .toolbox-text{
  width: 588px;
  }
  .toolbox-list{
    margin-top: -350px;
    align-items: start;
    width: 599px;
  height: auto;
  margin-left: 700px;
  }
  .toolbox-epigraph{
  margin-bottom: 12px;

  }
  .toolbox-epigraph-text{
  margin-bottom: 34px;
  }
}
/* Real Transformations */
.transformations-section{
  background-color: #f5f5f5;
  background-image: url('/img/core/line-mob.png');
    background-repeat: no-repeat;
    background-position: top 140px right;
    background-size: 345px 24px;
}
.transformations-title{
  font-family: "Prompt", sans-serif;
font-weight: 300;
font-size: 44px;
line-height: 1;
letter-spacing: -0.04em;
color: #969bad;
margin-bottom: 56px;
}
.transformations-text{
  font-family: "Prompt", sans-serif;
font-weight: 275;
font-size: 26px;
line-height: 1.15385;
letter-spacing: -0.04em;
text-align: center;
color: #091018;
width: 290px;
margin-left: auto;
margin-right: auto;
}
.custom-navigation {
  display: none;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}
.transformations-swiper{
  margin: 24px 0 0;
  width: 343px;
   display: flex;

}
.transformations-swiper-slide{
  border-radius: 12px;
max-width: 293px;
 min-height: 260px;
background: linear-gradient(90deg, #091018 0%, #555e7c 100%);
margin: 0;
padding: 0;
}
.swiper-text{
  font-family: "Prompt", sans-serif;
font-weight: 300;
font-size: 18px;
color: #f5f5f5;
max-width: 260px;
margin-bottom: 16px;
text-align:left;
margin-left: auto;
margin-right: auto;
margin-top: 16px;
}
.author-text{
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: right;
  color: #f5f5f5;
  max-width: 260px;
  margin-left: 20px;
  padding-bottom: 16px;
}
.custom-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  width: 100%;
  height: 50px;
}

.pagination-item {
  border-radius: 8px;
  width: 8px;
  height: 8px;
  background: #969bad;
  transition: background-color 0.3s ease-in-out;
}

.pagination-item.active {
  border: 1px solid #091018;
border-radius: 8px;
background: #c4922c;
  transform: scale(1.4);
}
@media only screen and (min-width:1439px) {
  .transformations-section{
    background-image: url('/img/core/line-desc.png');
    background-repeat: no-repeat;
    background-position: top 100px right;
    background-size: 613px 24px;
  }
  .transformations-title{
  font-size: 58px;
  margin-bottom: 31px;
  }
  .transformations-text{
  font-size: 32px;
  text-align: right;
  width: 866px;
  margin-left: auto;
  margin-right: 0;
  }
  .transformations-container{
    position: relative;
  }

  .custom-navigation {
    display: flex;
    justify-content: space-between;
     opacity: 1;
    pointer-events: auto;
    position: absolute;
    top: 66%;
    transform: translateY(-30%);
    width: 1350px;
    z-index: 10;
  }
  .custom-arrow{
    border: none;
    background-color:inherit;
  }
  .custom-next {
    position: absolute;
    top:-10px;
    left: 88%;
    transform: translateX(-10%) rotate(180deg);
  }
  .custom-next {
    position: absolute;
   }
  .custom-pagination {
    display: none;

  }

  .transformations-swiper{
    margin: 40px auto 0;
    width: 85%;
     display: flex;
  }
  .transformations-swiper-slide{
    border-radius: 12px;
  max-width: 460px;
   min-height: 180px;
  background: linear-gradient(90deg, #091018 0%, #555e7c 100%);
  margin: 0;
  padding: 0;

  }
  .swiper-text{
   max-width: 428px;
  margin-bottom: 16px;
  text-align:left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  }
  .author-text{
    max-width: 428px;
    margin-right: 20px;
    margin-left: auto;
    padding-bottom: 16px;
  }
}
/* Business Mastery Workshops */
.workshops-section{
  background-color: #091018;
}
.workshops-title{
  font-family: "Prompt", sans-serif;
font-weight: 250;
font-size: 44px;
line-height: 1;
letter-spacing: -0.04em;
color: #969bad;
margin-bottom: 142px;
}
.workshops-container{
  position: relative;
}
.workshops-text-container{
  border-radius: 8px 0 0 8px;
padding: 12px 24px 12px 12px;
max-width: 350px;
height: auto;
background: #f5f5f5;
box-sizing: border-box;
position: absolute;
top:160px;
left:112px;
}
.workshops-text{
  font-family: "Prompt", sans-serif;
font-weight: 300;
font-size: 16px;
line-height: 1.375;
color: #091018;
}
.workshops-list{
  display: flex;
  flex-direction: column;
  gap:20px;
  margin-top: 20px;
}
.workshops-item{
  display: flex;
  gap: 16px;
}
.workshops-subtitle{
  font-family: "Prompt", sans-serif;
font-weight: 275;
font-size: 32px;
line-height: 1.1875;
color: #f5f5f5;
margin-bottom: 8px;
}
.workshops-list-text{
  font-family: "Prompt", sans-serif;
font-weight: 275;
font-size: 18px;
line-height: 1.33333;
color: #969bad;
}
@media only screen and (min-width:1439px) {
  .workshops-title{
  font-size: 58px;
  margin-bottom: 182px;
  }
  .workshops-text-container{
    border-radius: 0 16px 16px 0;
    padding: 32px 32px 32px 80px;
    min-width: 820px;
    height: 94px;
  position: absolute;
  top:160px;
  left:0;
  }
  .workshops-text{
  font-size: 20px;
  width: 800px;
  }
  .workshops-img{
     margin-left: 775px;
    width: 568px;
    height: 463px;
    margin-top: -162px;
  }
  .workshops-list{
    display: flex;
    flex-direction: column;
    gap:42px;
    margin-top: -300px;
  }
}
/* Personalized Coaching */
.coaching-section{
  background-color: #f5f5f5;
  background-image: url('/img/coaching/frame.png');
  background-repeat: no-repeat;
  background-position: top 150px center;
  background-size: 343px 343px; 
}
.coaching-title{
  font-family: "Prompt", sans-serif;
font-weight: 300;
font-size: 44px;
line-height: 1;
letter-spacing: -0.04em;
color: #969bad;
margin-bottom: 399px;
}
.coaching-list{
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.coaching-item{
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.coaching-list-title{
  font-family: "Prompt", sans-serif;
font-weight: 300;
font-size: 28px;
line-height: 1.21429;
letter-spacing: -0.02em;
color: #091018;
}
.coaching-list-text{
  font-family: "Prompt", sans-serif;
font-weight: 300;
font-size: 20px;
line-height: 1.2;
color: rgba(9, 16, 24, 0.7);
width: 300px;
}
@media only screen and (min-width:1439px) {
  .coaching-section{
    background-image: url('/img/coaching/frame.png');
    background-repeat: no-repeat;
    background-position: top 130px right 50px;
    background-size: 480px 480px; 
  }
  .coaching-title{
  font-size: 58px;
  margin-bottom: 80px;
  }
  .coaching-list{
    gap:40px;
  }
  .coaching-item{
     gap: 8px;
  }
  .coaching-list-title{
  font-size: 32px;
  }

  .coaching-list-text{
  width: 694px;
  }
}
/* Success Stories */
.stories-section{
  background-color: #091018;
}
.stories-title{
  font-family: "Prompt", sans-serif;
font-weight: 250;
font-size: 44px;
line-height: 1;
letter-spacing: -0.04em;
color: #969bad;
margin-bottom: 32px;
}
.stories-main-text{
  font-family: "Prompt", sans-serif;
  font-weight: 275;
  font-size: 24px;
  line-height: 1.33333;
  text-align: center;
  color: #f5f5f5;
  margin-bottom: 32px;
}
.stories-container{
  border: 1px solid #c4922c;
border-radius: 12px;
padding: 12px;
margin-bottom: 24px;
max-width: 343px;
}
.stories-container:last-child{
  margin-bottom: 0;
}
.stories-img{
  width: 80px;
  height: 80px;
  margin-bottom: 0;
}
.stories-subtitle{
  font-family: "Prompt", sans-serif;
font-weight: 300;
font-size: 24px;
line-height: 1.16667;
letter-spacing: -0.02em;
color: #f5f5f5;
width: 231px;
margin-left: 84px;
margin-top: -80px;
margin-bottom: 8px;
}
.stories-subtitle-big{
  margin-bottom: 32px;
}
.stories-text{
  font-family: "Prompt", sans-serif;
font-weight: 275;
font-size: 20px;
color: rgba(245, 245, 245, 0.8);
margin-bottom: 8px;
width: 313px;
}
@media only screen and (min-width:1439px) {
  .stories-title{
  font-size: 58px;
  margin-bottom: 40px;
  } 
  .stories-main-text{
    font-size: 32px;
    text-align: right;
    margin-bottom: 48px;
    width: 658px;
    margin-right: 0;
    margin-left: auto;
  }
  .stories-container{
  border-radius: 16px;
  padding: 16px;
  max-width: 830px;
  }
  .stories-container:nth-child(odd){
    margin-left: 0;
    margin-right: auto;
  }
  .stories-container:nth-child(even){
    margin-left: 400px;
    margin-right: auto;
  }
  .stories-img{
    width: 120px;
    height: 120px;
   }
   .stories-subtitle{
  width: 689px;
  margin-left:155px;
  margin-top: -120px;
  margin-bottom: 8px;
  }
  .stories-subtitle-big{
    margin-bottom: 8px;
  }
  .stories-text{
  width: 689px;
  margin-left: 155px;
  }
}
/* Join the Elite */
.elite-section {
  background-color: #f5f5f5;
  position: relative;
  background-image: url('/img/join/line-dots-right@2x.png'), url('/img/join/line-dots-left@2x.png');
  background-repeat: no-repeat, no-repeat;
  background-position: top 94px right, top 410px left;
  background-size: 345px 24px, 150px 24px;
}

.elite-title{
  font-family: "Prompt", sans-serif;
font-weight: 300;
font-size: 44px;
line-height: 1;
letter-spacing: -0.04em;
color: #969bad;
margin-bottom: 16px;
}
.colored-conteiner{
  position:absolute;
  background-color: #091018;
  border-bottom: 2px solid #c4922c;
border-top: 2px solid #c4922c;
padding: 32px 10px;
width: 343px;
max-height: 216px;
top:140px;
left:50%;
transform: translateX(-50%);

}
.elite-text{
  font-family: "Prompt", sans-serif;
font-weight: 300;
font-size: 32px;
line-height: 1.1875;
letter-spacing: -0.01em;
text-align: center;
background: linear-gradient(180deg, #f5f5f5 0%, #c4922c 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
max-width: 343px;
margin-bottom: 64px;
}
.elite-mail{
  margin-top: 318px;
  text-align:right;
  font-family: "Prompt", sans-serif;
font-weight: 300;
font-size: 24px;
line-height: 1.66667;
text-align: right;
color: #091018;
}
.join-link{
  font-weight: 400;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
@media only screen and (min-width:1439px) {
  .elite-section {
    background-color: #f5f5f5;
    position: relative;
    background-image: url('/img/join/line-dots-right-desk@2x.png'), url('/img/join/line-dots-left-desk@2x.png');
    background-repeat: no-repeat, no-repeat;
    background-position: top 98px right, top 380px left;
    background-size: 900px 24px, 840px 24px;
  }
  
  .elite-title{
  font-size: 58px;
  margin-bottom: 0;
   }
   .colored-conteiner{
    position:absolute;
    background-color: #091018;
    border-bottom: 2px solid #c4922c;
  border-top: 2px solid #c4922c;
  padding: 32px 80px;
 min-width: 1264px;
  max-height: 216px;
  top:180px;
  left:50%;
  transform: translateX(-50%);
  }
  .elite-text{
  max-width: 704px;
  margin-bottom: 64px;
  margin-left: auto;
  margin-right: auto;
  }
  .elite-mail{
    margin-top: 234px;
  }
}